ul#rooms
  li
    a(href = 'room/1') room #1
  li
    a(href = 'room/2') room #2
  li
    a(href = 'room/5') room #5
  li
    a(href = 'room/8') room #8
div
  a#host(href = 'host') Host Game
