!!!5
html(lang = 'en')
  head
    title= title
    meta(name = 'description', 'This is the Game Engine that Ross, Tom, and Cody built.')
    meta(name = 'author', content = 'Ross Hadden, Tom Dooner, Cody Mays')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    meta(name = 'google-site-verification', content = '2zvM0MQYwi9b4V2sMpBHkQHPt20qZAsARcxAv57fZTw')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src = 'engine/lib/require.js', 'data-main' = 'js/main')
  body
    #main
      !=body
    ol#log(reversed)
